.rowpost{
    margin-left: 20px;
    color: #fff;
    margin: 10px;
    align-items: center;


}
.posters{
    display: flex;
    /* display: flex; if multiple images come to show it as row */
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    /* overflow-x: scroll;
    overflow-y: hidden; to make x direction scrollable and y not scrollable but a scrollbar extra class will appear.*/
}

.posters::-webkit-scrollbar{
    display: none;
    /*max-height: 500px; */
    /* display: none; this used to remove scrollbar */
}

.poster{
    max-height: 250px;
    margin-right: 20px;
    cursor:pointer;
    border-radius: 10px;
}
.poster:hover{
    transform: scale(1.1);
}

.smallPoster{
    border-radius: 7px;
    max-height: 200px;
    margin-right: 20px;
    cursor:pointer;
}

.smallPoster:hover{
    transform: scale(1.1);
}

.link{
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    /* margin-left: 80px; */
    max-width:100px ;
    
    
}
.link:hover{
    font-size: 1.3rem;
    font-weight: 530;
    
   
}