.banner{
    /* background-image: url('https://wallpaperaccess.com/full/2703652.png'); */
    background-size: cover;
    height: 520px;
    color: white;
    width: 100%;

}
.bannerImage{
    /* background-image: url('https://wallpaperaccess.com/full/2703652.png'); */
    background-size: cover;
    height: 520px;
    color: white;
    width: 100%;
    filter: blur(2px);
  -webkit-filter: blur(2px);
  border-radius: 7px;

}

.div{
    margin-top: -500px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.youtube{
    border-radius: 7px;
    margin-top: 65px;
    margin-left: 0;
    width:100%;
    height: 150px;
}

.content{
    padding: 60px;
    height: 190px;
    padding-left: 15px;
    margin-top: -50px;
}

.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.button{
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(51,51,51,0.5);
    /* background-color: rgba();   red,green,blue,opacity */
    cursor: pointer;
    margin-right: 1rem;
    width: 110px;
}

.button:hover{
    background-color: #e6e6e6;
    /* background-color: #e6e6e6; that code is called xcode */
    color: black;
}

.description{
    width: 60rem;
    line-height: 1.4;
    /* line-height: 1.3; height between lines */
    padding-top: 1rem;
    font-size: 1.1rem;
    height: 80px;
    max-width:540px ;
    /* max-width:360px ; if content reach a max-width it will come down */
}

.fade{
    position: relative;
    margin-top: 66px;
    height: 7.4rem;
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
    background-image: linear-gradient(180deg,transparent,rgba(37, 37, 37, 0.61),rgba(2, 2, 2, 0.61));
    /* background-image: linear-gradient();  first one position, 2nd 2 colours, to mix 2 colours, transparent to see background image. */
}

.post{
    max-height: 250px;
    margin-right: 20px;
    margin: 20px;
    cursor:pointer;
    border-radius: 10px;
}