.rowpost{
    margin-left: 20px;
    color: #fff;
    margin: 10px;

}
.posters{
    display: flex;
    /* display: flex; if multiple images come to show it as row */
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    /* overflow-x: scroll;
    overflow-y: hidden; to make x direction scrollable and y not scrollable but a scrollbar extra class will appear.*/
}

.posters::-webkit-scrollbar{
    display: none;
    /* display: none; this used to remove scrollbar */
}

.poster{
    max-height: 250px;
    margin-right: 10px;
    cursor:pointer;
}
.poster:hover{
    transform: scale(1.1);
}

.smallPoster{
    max-height: 150px;
    margin-right: 10px;
    cursor:pointer;
}

.smallPoster:hover{
    transform: scale(1.1);
}